<div class="">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        System Statistics
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div class="metric">
        <div class="metric-number" style="color: #4253AF">45</div>
        <div class="metric-desc">Users</div>
      </div>
      <div class="metric">
        <div class="metric-number" style="color: #D63964">134</div>
        <div class="metric-desc">Samples</div>
      </div>
    </mat-card-content>
  </mat-card>

</div>