.dashboard-card-content {
  display: flex;
  justify-content: center;
}

.metric {
  margin: 0px 50px;
}

.metric .metric-number {
  font-size: 4em;
  text-align: center;
}

.metric .metric-desc {
  text-align: center;
}