@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.spacer {
    flex: 1 1 auto;
}

.input-full-width {
    width: 100%;
}

.menu {
    margin-bottom: 50px;
}

.container {
    max-width: 1000px;
    margin: 0 auto 50px auto;
}

.mat-table {
    width: 100%;
}

mat-toolbar a {
    color: white;
    text-decoration: none;
}

/* Login page */

.login-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Register page */
.register-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}