<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title><h2>Login</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="login($event)" id="loginform">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="email">
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input matInput placeholder="password" type="password">
      </mat-form-field>
    
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" form="loginform" mat-button>Login</button>
    <a mat-button routerLink="/register">Register</a>
  </mat-card-actions>
</mat-card>
