<mat-toolbar class="menu" color="primary">
  <mat-toolbar-row>
    <a routerLink="/">Lab inventory</a>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="spacer"></span>

    <a mat-button routerLink="/">Dashboard</a>
    <a mat-button routerLink="/samples">Samples</a>
    <a *ngIf="userHasRole('ADMIN')" mat-button routerLink="/users">Users</a>
    <a *ngIf="isLoggedIn()"mat-button (click)="logout()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
